<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>TopServlet</servlet-name>
        <servlet-class>jp.topse.agile2016.TopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResistryServlet</servlet-name>
        <servlet-class>jp.topse.agile2016.ResistryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResistryCheckServlet</servlet-name>
        <servlet-class>jp.topse.agile2016.ResistryCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResistryServlet</servlet-name>
        <url-pattern>/ResistryServlet</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>ResistryCheckServlet</servlet-name>
        <url-pattern>/ResistryCheckServlet</url-pattern>
    </servlet-mapping>
</web-app>